Introspection with Bearer fails - principal is not assignable to OAuth2ClientAuthenticationToken

Introspection calls with bearer fail with invalid client error. In the `OAuth2TokenIntrospectionAuthenticationProvider` the call to `getAuthenticatedClientElseThrowInvalidClient` fails, `JwtAuthenticationToken` is not assignable to `OAuth2ClientAuthenticationToken`.

I would expect that 
a) that the introspection is handled. A bearer token could be accepted if the token used for authentication is not the same as the one to be inspected. [rfc7662#section-2.1](https://datatracker.ietf.org/doc/html/rfc7662#section-2.1) 

or alternatively

b) the error message is more specific than 'invalid client' (especially since the client is successfully authenticated at this moment)



@wheredoipressnow The 3x client `AuthenticationProvider`'s are `JwtClientAssertionAuthenticationProvider`, `ClientSecretAuthenticationProvider` and `PublicClientAuthenticationProvider`. Neither of these implementations support the `Bearer` scheme, so the client does not authenticate in the flow. However, the `JwtAuthenticationProvider` (enabled by `http.oauth2ResourceServer()`) does authenticate the `Bearer` `Jwt` and that is why you are getting the error "`JwtAuthenticationToken` is not assignable to `OAuth2ClientAuthenticationToken`".

Please see the [reference documentation](https://docs.spring.io/spring-authorization-server/docs/current/reference/html/configuration-model.html#configuring-client-authentication) for the supported client authentication methods:

> The supported client authentication methods are `client_secret_basic`, `client_secret_post`, `private_key_jwt`, `client_secret_jwt`, and `none` (public clients).

Although RFC 7662 states:

> the endpoint MUST also require some form of authorization to access this endpoint, such as client authentication as described in OAuth 2.0 [RFC6749] **or a separate OAuth 2.0 access token such as the bearer token** described in OAuth 2.0 Bearer Token Usage [RFC6750]

It does not specify what the contents of the bearer token are. The client identity must be in the access token and the Authorization Server must know how to extract the client identity in order to validate it. This is the purpose of [RFC 7523](https://www.rfc-editor.org/rfc/rfc7523#section-2.2), which is implemented by `JwtClientAssertionAuthenticationProvider`.

Can you provide more details on the bearer token you are sending in the request? What is the structure and contents?

@jgrandja thanks for your time!

The bearer in this case is an access token issued by the same authorization server. The content looks like this:

```
{
  "sub": "client id goes here",
  "aud": "some audience here",
  "nbf": 1660891663,
  "scope": [
    "a scope"
  ],
  "iss": "issuer goes here",
  "exp": 1660895263,
  "iat": 1660891663
}
```

I am aware of the resource server configuration. The configuration is applied like so (using Kotlin)

```
    ...
      .oauth2ResourceServer { oauth2ResourceServer ->
          oauth2ResourceServer
              .jwt { jwt -> jwt.decoder(jwtDecoder) }
      }
```

Instead of using a bearer  passing `client_assertion` and `client_assertion_type` with the request works.
















@wheredoipressnow I'm glad you got it working. Based on those claims, with `sub` identifying the client, passing the token via `client_assertion` and `client_assertion_type`  is the correct method.