Token exchange failed when the subject token is a client_credentials granted access token 

**Describe the bug**
Token exchange failed when the subject token is a client_credentials granted access token.

**To Reproduce**
1. build a spring authorization server which enables client_credentials grant for 'user-client' and token-exchange grant for 'messaging-client'
```yml
spring:
  security:
    oauth2:
      authorizationserver:
        client:
          test-client:
            registration:
              client-id: "user-client"
              client-secret: "{noop}user"
              client-authentication-methods:
                - client_secret_basic
              authorization-grant-types:
                - client_credentials
              scopes:
                - user.read
          token-client:
            registration:
              client-id: "messaging-client"
              client-secret: "{noop}messaging"
              client-authentication-methods:
                - client_secret_basic
              authorization-grant-types:
                - urn:ietf:params:oauth:grant-type:token-exchange
              scopes:
                - message.read
```
2. get access token for 'user-client' using client_credentials grant
3. build resource server  'user-service' and 'messaging-service', user-service remote calls messaging-service
4. Access resource server 'user-service' with the access token above 
5. token exchange failed due to the client_credentials granted access token does not have a 'princial' attribute, but OAuth2TokenExchangeAuthenticationProvider require a principal to be available via the subject_token for impersonation or delegation use cases:

<img width="1000" alt="image" src="https://github.com/user-attachments/assets/5d3e58b9-3be4-4da6-b5f2-996723cf56ba">




**Expected behavior**
As per https://datatracker.ietf.org/doc/html/rfc8693，there doesn't appear to be any explicit prohibition against using an access token obtained through the client_credentials grant for token exchange.


@wapkch 

> As per [https://datatracker.ietf.org/doc/html/rfc8693，there](https://datatracker.ietf.org/doc/html/rfc8693%EF%BC%8Cthere) doesn't appear to be any explicit prohibition against using an access token obtained through the client_credentials grant for token exchange.

This is true but at the same time the spec does not make any reference to the `client_credentials` grant type either.

Furthermore, looking at the examples in [Appendix A. ](https://datatracker.ietf.org/doc/html/rfc8693#section-appendix.a)[Additional Token Exchange Examples](https://datatracker.ietf.org/doc/html/rfc8693#name-additional-token-exchange-e), you will see the subject tokens referenced contain `"sub":"bdc@example.net"` and `"sub":"user@example.net"` that clearly indicate a user principal. 

As well, in [1.1. ](https://datatracker.ietf.org/doc/html/rfc8693#section-1.1)[Delegation vs. Impersonation Semantics](https://datatracker.ietf.org/doc/html/rfc8693#name-delegation-vs-impersonation), it states:

> One common use case for an STS (as alluded to in the previous section) is to allow a resource server A to make calls to a backend service C on behalf of the requesting **user B**

The word **"user"** is referenced in many parts in the spec, which implies there is a Resource Owner principal associated to the subject token.

I'm curious, why are you using a `client_credentials` obtained access token to represent the subject token in the `token_exchange` grant? If the client needs another scope, (`message.read` as per your example) why wouldn't the `messaging-client` be configured for the `client_credentials` grant and obtain a new access token with the required scope?

@jgrandja 
That makes a lot of sense! Thanks for the detailed explanation. You can close this now.

> @wapkch
> 
> > As per [https://datatracker.ietf.org/doc/html/rfc8693，there](https://datatracker.ietf.org/doc/html/rfc8693%EF%BC%8Cthere) doesn't appear to be any explicit prohibition against using an access token obtained through the client_credentials grant for token exchange.
> 
> This is true but at the same time the spec does not make any reference to the `client_credentials` grant type either.
> 
> Furthermore, looking at the examples in [Appendix A. ](https://datatracker.ietf.org/doc/html/rfc8693#section-appendix.a)[Additional Token Exchange Examples](https://datatracker.ietf.org/doc/html/rfc8693#name-additional-token-exchange-e), you will see the subject tokens referenced contain `"sub":"bdc@example.net"` and `"sub":"user@example.net"` that clearly indicate a user principal.
> 
> As well, in [1.1. ](https://datatracker.ietf.org/doc/html/rfc8693#section-1.1)[Delegation vs. Impersonation Semantics](https://datatracker.ietf.org/doc/html/rfc8693#name-delegation-vs-impersonation), it states:
> 
> > One common use case for an STS (as alluded to in the previous section) is to allow a resource server A to make calls to a backend service C on behalf of the requesting **user B**
> 
> The word **"user"** is referenced in many parts in the spec, which implies there is a Resource Owner principal associated to the subject token.
> 
> I'm curious, why are you using a `client_credentials` obtained access token to represent the subject token in the `token_exchange` grant? If the client needs another scope, (`message.read` as per your example) why wouldn't the `messaging-client` be configured for the `client_credentials` grant and obtain a new access token with the required scope?
Hi @jgrandja ,

Sorry for posting on an old thread, but I had encountered this exact problem and wanted to see if I could get some clarification, as I haven't found a clear answer on this. To the question of why you would use a client credentials access token, consider this scenario:

1.  Your system has an API gateway that sits in front of your resource servers
2.  A machine client uses client credentials to periodically query your resources through your API gateway. This process involves no users
3.  When the request gets to the Resource server, you want to store which machine client made the originating request.

My understanding is that when the machine client uses client credentials through the API gateway, the API gateway would validate the token from the machine client, and then request a new token under its own credentials to access the resource server. The resource server then would lose out on any information that the request came from the machine client because the gateway requested its own token. Alternatively, the API gateway can just pass the token down, but then the resource server would not be able to tell that the API gateway was involved by looking at the token.

I had thought that token exchange would allow the API Gateway to receive the machine client's access token, exchange it for a new one , and maintain the fact that the machine client had made the initial request, but based on this response, I am not sure what the best answer would be to this. What am I misunderstanding?

Hi @wapkch.

> I had thought that token exchange would allow the API Gateway to receive the machine client's access token, exchange it for a new one , and maintain the fact that the machine client had made the initial request, but based on this response, I am not sure what the best answer would be to this. 

I have also studied the spec and agree with @jgrandja on his response. The scenario you outline in not in scope with the existing token exchange specification (RFC 8693). 

> What am I misunderstanding?

Machine clients aren't intended to be used as the subject because they are not users and don't have a user principal. Token exchange is about exchanging a token but preserving the user principal (subject). One possibility for your scenario would be JWT Bearer ([RFC 7523, Section 2.1](https://datatracker.ietf.org/doc/html/rfc7523#section-2.1)) or using the original token for client authentication ([Section 2.2](https://datatracker.ietf.org/doc/html/rfc7523#section-2.1)) with another `client_credentials` grant token request. You would want to read the documentation of the provider to understand what the best option is to preserve the request information of the original token.

Thanks @sjohnr , this has been very helpful.