Add different authentication options for the token revocation endpoint

Hi! First of all I would like to thank you for the great job. **Spring Authorization Server** is awesome

**Expected Behavior**
It would be great if Spring Authorization Server supported **client_secret_post** and **none**  client authentication methods for token revocation endpoint.

**Current Behavior**
As of now Spring Authorization Server supports only basic authentication for the **/oauth2/revoke** endpoint, and you cannot call this endpoint without specifying a client secret in the basic auth header.

**Context**
It's becoming a problem when you have public clients. **Keycloak** for example provides an option to specify client credentials in the request body as well as in the basic auth header, and allows to omit the client secret parameter.


I confirm the issue, but they followed the OAuth2 specifications,
I configured the token revokation but I used the resource server to logout from my angular app in order to store the client secret in a safe way

https://datatracker.ietf.org/doc/html/rfc7009#page-4
It does not require to specify the credentials in the auth header:

> The client also includes its authentication credentials as described
>    in [Section 2.3. of [RFC6749]](https://datatracker.ietf.org/doc/html/rfc6749#section-2.3).

> [2.3](https://datatracker.ietf.org/doc/html/rfc6749#section-2.3).  Client Authentication
> 
>    If the client type is confidential, the client and authorization
>    server establish a client authentication method suitable for the
>    security requirements of the authorization server.  The authorization
>    server MAY accept any form of client authentication meeting its
>    security requirements.
> 
>    Confidential clients are typically issued (or establish) a set of
>    client credentials used for authenticating with the authorization
>    server (e.g., password, public/private key pair).
> 
>    The authorization server MAY establish a client authentication method
>    with public clients.  However, the authorization server MUST NOT rely
>    on public client authentication for the purpose of identifying the
>    client.
> 
>    The client MUST NOT use more than one authentication method in each
>    request.

@pstorch The con

> Shouldn't it be possible to revoke the access_token by a public client?

Yes it is possible but this would need to be customized by the consuming application. A custom `AuthenticationConverter` and `AuthenticationProvider` would need to be implemented and configured via the [OAuth2ClientAuthenticationConfigurer](https://docs.spring.io/spring-authorization-server/docs/current/reference/html/configuration-model.html#configuring-client-authentication).
